- cache ['store', Article.latest] do
  - @articles.all.order('created_at ASC').each do |article|
    - cache ['entry', article] do
      .article
      - if signed_in?
        = link_to image_tag(article.image.url(:medium), class: "art_img"), article.image.url(:original)
      - else
        = image_tag(article.image.url(:medium), class: "art_img")
