.wrap
  %br
  - cache [Article.latest] do
    - @articles.web_tag.image_have.order('created_at DESC').take(6).each do |article|
      - cache ['entry', article] do
        = link_to image_tag(article.image_url, class: "art_img_web"), article_path(article)

  - @articles.app_tag.image_have.order('created_at DESC').take(6).each do |article_app|
    .article
      = link_to image_tag(article_app.image_url, class: "art_img_app"), article_path(article_app)
      %h2
        = article_app.title
        %span= article_app.tag
