.wrap
  = will_paginate @article, page_links: false
  - @articles.all.order('see_count DESC').each do |article|
    .article
      .article_bg
      .art_img_container
        = link_to image_tag(article.image.url(:thumb), class: "art_img"), article_path(article)
      .a_to_article
        = link_to article.title, article_path(article), class: "art_title"
