#section2
  .articles
  %h1 Portfolio
  %p CLICK TO SEE DETAILS
  %br
  - cache ['store', Article.latest] do
    - @articles.all.order('created_at ASC').each do |article|
      - cache ['entry', article] do
        .article
        = link_to image_tag(article.image.url(:medium), class: "art_img_small"), article_path(article)
