#section1
	.container
		= image_tag("alex.png", class:"userpic")
		%h1 Alex Arnis
		%p UI/UX DESIGNER
		= link_to "CASES", "#section2", class: 'scroll'

#section2
	#art= render :partial => 'articles'
