#section2
  %h1 Portfolio
  %p CLICK TO SEE DETAILS
  .br
  = link_to "WEB", articles_path(:format => :js), remote: true, class: 'tab active'
  = link_to "APP", articles_path(:format => :js), remote: true, class: 'tab'
  .articles= render partial: 'articles_all'
