<div class="wrap">
	<p>
	  <strong>Загаловок</strong></br>
	  <%= @article.title %>
	</p>

	<p>
	  <strong>Текст</strong></br>
	  <%= @article.text %>
	</p>
	</br><%= link_to "Back", articles_path %>
</div>