#section1
  .wrap
    = image_tag("alex.png", class:"userpic")
    %h1
      Дьяков Александр
      %span UI/UX DESIGNER
    -# = link_to "PORTFOLIO", "#section2", class: 'scroll'

#section2
  %br
  -# = link_to "WEB", "#", remote: true, class: 'tab active', id: 'web'
  -# = link_to "APP", "#", remote: true, class: 'tab',        id: 'app'
  = render partial: 'articles/articles_all'
