a.art_title {

	font-size: 18px;
	letter-spacing: -0.02em;
	font-family: 'Raleway_ExtraBold';
	text-decoration: none;
	color: #fff;
	transition: 0.9s;
	display: block;
	padding-bottom: 61px;
	padding-top: 20px;

	&:hover { color: #999; text-decoration: none; }
}

.a_to_article { margin-top: 20px; margin-bottom: 20px;}

.article_bg {
	background: url('art_bg.png') no-repeat;
	width: 272px;
	height: 344px;
}

.article_in {
	opacity: 1 !important;
}

.article {
	color: #545454;
	text-align: center;
	margin:-10px 45px -20px 55px;
	float: left;

	p {
		font-size: 16px;
		line-height: 1.7;
		width: 640px;
		padding-bottom: 10px;
		font-weight: 300;
	}
}
.art_img_container {
	overflow: hidden;
	margin-top: -334px;
}

.art_img {
	max-width: 243px;
	transition: all 3.35s ease;
	margin: 0 !important;
}

.admin_btns {
	float: left;
	padding-right: 10px;
	margin-left: 281px;
	margin-bottom: 40px;
}

.art_cont {
	h1 {
		text-align: center;
		color: #fff;
		letter-spacing: -0.04em;
		margin: 0;
	}
} 
.see_ico { float: left; margin-left: 500px; }

.date_ico { margin-left: 20px; float: left; }

.index { float: left; margin-left: 14px; font-size: 14px; }

.line { width: 1170px; height: 1px; background: #fff; float: left; margin-top: 30px; margin-bottom: 30px; }

.image_prev {
	max-width: 960px;
	margin: 0 auto;
	display: block;
	margin-top: 30px;
	margin-bottom: 80px;
}
#art {padding-top: 40px;}

/* pagination style */

.pagination {}

.next_page, .previous_page { margin-top: 380px; }

.next_art, .prev_art { margin-top: -75px; }

.next_page, .previous_page, .next_art, .prev_art { width: 26px; height: 78px; }

.next_page, .next_art {
	background: url(arrow_next.png);
	float: right;
}
.previous_page, .prev_art {
	float: left;
	background: url(arrow_prev.png);
}

span.next_page.disabled, span.previous_page.disabled {opacity: 0.15;}