/* styles for portfolio page */

a.art_title {

	font-size: 15px;
	letter-spacing: -0.02em;
	font-weight: 500;
	text-decoration: none;
	color: #999;
	transition: 0.9s;
	display: block;

	&:hover { color: #444; text-decoration: none; }

}

.a_to_article { margin-top: 20px; margin-bottom: 20px;}

.article {
	color: #545454;
	opacity: 0;
	transition: opacity 0.4s ease-in-out 0.2s;
	float: left;
	text-align: center;
	margin: 10px;
	float: left;

	p {
		font-size: 16px;
		line-height: 1.7;
		width: 640px;
		padding-bottom: 10px;
		font-weight: 300;
	}
}
.art_img_container {
	overflow: hidden;
}

.art_img_container:hover .art_img { transform: scale(1.15); }

.art_img {
	max-width: 243px;
	transition: all 1.35s ease;
	margin: 0 !important;
	
}

.admin_btns {
	float: left;
	padding-right: 10px;
	margin-left: 281px;
	margin-bottom: 40px;
}

.art_cont {
	h1 {
		text-align: center;
		font-weight: 900;
		color: #666;
		letter-spacing: -0.04em;
		padding-top: 30px;
	}
}
.see_ico { float: left; margin-left: 500px; }

.date_ico { margin-left: 20px; float: left; }

.index { float: left; margin-left: 14px; font-size: 14px; }

.line { width: 1170px; height: 1px; background: #fff; float: left; margin-top: 30px; margin-bottom: 30px; }

.image_prev {
	max-width: 960px;
	margin: 0 auto;
	display: block;
	margin-top: 30px;
	margin-bottom: 80px;
}

.pagination1 {
	display: table;
	margin: 70px auto;
	border-radius: 4px;
	bottom: 100px;
	clear: both;

	a {
	}

}