a.art_title {
	font-size: 18px;
	letter-spacing: -0.02em;
	font-family: 'Raleway';
	text-decoration: none;
	color: #fff;
	transition: 0.9s;
	display: block;
	padding-bottom: 61px;
	padding-top: 20px;

	&:hover { color: #999; text-decoration: none; }
}

.see_ico { float: left; margin-left: 500px; }

.date_ico { margin-left: 20px; float: left; }

.index { float: left; margin-left: 14px; font-size: 14px; }

.image_prev {
	max-width: 960px;
	margin: 30px auto;
	display: block;
	padding-bottom: 50px;
}

.resource_link {
	color: #999;
	transition: 1s;

	&:hover {
		color: #FFF;
	}
}
