/*first screen*/
.head_bg {
	background: url(head_bg.jpg) no-repeat fixed 0 0;
	color: #fff;
	background-size: cover;
	overflow-x: hidden;

	h1 {
		font-size: 60px;
		margin: 0 auto;
		letter-spacing: -.060em;
		text-align: center;
		font-weight: 100;
		font-family: 'Raleway_Thing';
		padding-top: 60px;
	}

	b { font-family: 'Raleway_Black'; }

	h2 {
		font-size: 22px;
		font-family: 'Raleway_Light';
		padding-top: 36px;
		text-align: center;
		letter-spacing: -.04em;
		padding-bottom: 80px;
	}

	a:hover { text-decoration: none; color: #fff;}
}

.filter, .filter85, .head_bg { overflow: hidden; height:100%; }

.filter { background: url(filter_70.png); }

.filter85 { background: url(filter_85.png); }

#text_logo {
	margin: 0 auto;
	letter-spacing: 2.3em;
	padding-top: 160px; padding-left: 2.3em;
	color: #fff;
	font-size: 20px;
	text-align: center;
	padding-bottom: 40px;
}

.line_orng {
	background: #FF5C26;
	width: 47px; height: 1px;
	margin: 0 auto;
}

a:hover > #menu_btn { color:#666; }

.btn {
	width: 307px;
	border-radius: 3px;
	border: 1px solid #fff;
	transition: 0.4s;
	color: #fff;
	text-align: center;
	font-size: 14px;
	font-family: 'Raleway_Medium';
	letter-spacing: 0.6em;
	margin: 0 auto;
	display: block;
	padding: 17px;

	&:hover { background-color: rgba(0,0,0, .4); color: #fff; };
}

#arrow_down {
	margin: 0 auto;
	display: block;
	padding-top: 147px;
	padding-bottom: 24px;
	width: 40px;
}

/*second screen*/

#second_screen, #fourth_screen, #six_screen {
	overflow: hidden;
	opacity: 0;
	transition: 1.3s;

	h1, h2 {
		letter-spacing: -.04em;
		text-align: center;
	}

	h1 {
		color: #444;
		font-size: 60px;
		font-family: 'Raleway_ExtraBold';
		padding-top: 70px;
	}

	h2 {
		color: #666;
		font-family: 'Raleway_Light';
		font-size: 22px;
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

#second_pics { margin-top: 2%;}

#second_pics, .secn_pic { padding: 0 0 1.5% 0; }

.secn_pic {
	padding-left: 1.5%;
	float: left;

	&:first-child, &:nth-child(4), &:nth-child(7) { padding-left: 0; }

	.text {
		width:100%;
		text-align: center;
		font-family: 'Raleway_Light';
		font-size: 20px;
		color: #666;
		display:none;
	}
}
/*threeth screen*/

#threeth_screen {
	background: url(threeth_screen_bg.jpg) no-repeat center center fixed;
	height: 805px;
	background-size: cover;

	h1 {
		font-family: 'Raleway_ExtraBold';
		font-size: 60px;
		color: #fff;
		letter-spacing: -.05em;
		padding-top: 210px;
		padding-bottom: 40px;
	}

	.line_orn3 {
		background: #FF5C26;
		width: 47px; height: 1px;
	}

	p {
		color: #fff;
		font-size: 24px;
		font-family: 'Raleway_Light';
		width: 703px;
		line-height: 1.6;
		padding-top: 40px;
		letter-spacing: -.04em;
	}

	b { font-family: 'Raleway_Black'; }
}
#makets_perspective {
	margin-top: -307px;
	display: block;
	float: right;
	width: 550px;
}

/*fourth screen*/

#columns {
	padding-top: 100px;

	h1 {
		font-family: 'Raleway_Regular';
		font-size: 18px;
		letter-spacing: .35em;
		color: #333;
		padding-top: 0;
		margin-top: -25px;
		text-align: left;
		padding-left: 50px;
	}

	p {
		font-family: 'Raleway_Medium';
		font-size: 14px;
		color: #666;
		line-height: 1.7;
		padding-top: 30px;
	}
}

.fourth_icons { padding-top: 40px; }

.column {
	width: 350px;
	float: left;
	margin-left: 60px;

	&:first-child { margin-left:0; }
}

/*fifth screen*/

#fifth_screen {
	background: url(head_bg.jpg) no-repeat center center fixed;
	overflow: hidden;
	text-align: center;
	color: #fff;
	background-size: cover;

	h1, h2 { letter-spacing: -.04em;}

	h1 {
		font-size: 70px;
		font-family: 'Raleway_ExtraBold';
		padding-top: 70px;
	}

	h2 {
		padding-top: 30px; padding-bottom: 30px;
		font-size: 24px;
		font-family: 'Raleway_Light';
	}
}

/*six screen*/

#six_screen { height: 700px; }

.icons {
	margin: 150px 0px;
	display: inline-block;
	width: 1170px;

	.head_ico {
		float: left;
		padding-left: 190px;

	&:first-child { padding-left: 90px; }

	h3 {
		color: #555;
		font-size: 14px;
		letter-spacing: 1em;
		text-align: center;
		padding-left: 10px;
		padding-top: 10px;
		}
	}
}

/*seventh_screen*/

#seventh_screen {
	background: url(seventh_screen_bg.jpg);
	height: 610px;width: 100%;
	background-size: cover;
}
