/* нахуй этот бутстрап */
/*@import "bootstrap-sprockets";*/
@import "bootstrap";

html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: 'Roboto', "Arial", sans-serif;
	-webkit-font-smoothing: antialiased;
	background-color: #fff;
	margin: 0; padding: 0;
	height: 100%;
}

h1, h2 { margin: 0; }
table {	background-color: #fff;	border-radius: 3px; }

th,td { padding: 7px; }

a {	text-decoration: none;	font-size: 16px; }

.wrap {	margin: 0 auto;	width: 1170px; }

.wrap_480 {
	margin: 0 auto;
	width: 480px;
	padding-bottom: 300px;

	h1 {
		text-align: center;
	}
}

 /* header menu */

.menu_in {
	background: rgba(0,0,0,0.7) !important;
	height: 50px !important;
	padding-top: 16px !important;
} 

.menu {

	height: 62px;
	background: rgba(0,0,0,0.4);
	transition: 0.4s;
	position: fixed;
	width: 100%;
	z-index: 99;
	padding-top: 22px;

	#logo {
		float: left;
		color: #666;
		font-size: 20px;
		font-weight: 900;
		margin: 7px;
		padding: 9px;

	}

	#line {
	 	width: 1px; height: 20px;
	 	background-color: #fff;
	 	float: right;
		margin-right: 20px;
 	}

	a {
	    float: right;
	    color: #fff;
	    padding-right: 20px;
	    font-weight: 500;
	    font-size: 14px;
	    text-decoration: none;
	    transition: 0.9s;

	    &:first-child { float: left; }

	    &:hover { color: #888; }
	}
}

#user_pic {
	float: left;
	margin-top: -5px;

	a { float: left; }
}

/* применение классов для эффектов на главной странице */
.titl_fade_in, .pic_anim, .iphones_in, .column_in, .ios_apps_in, .web_apps_in, .makets_in, .article_in, .message_in, .icons_in, .submit_in { opacity: 1 !important; }

/* первый экран */

#header_bg {
	background: -webkit-linear-gradient(-38deg,rgb(60,62,150) 0%,rgb(130,90,186) 100%);
	background: -moz-linear-gradient(-38deg,rgb(60,62,150) 0%,rgb(130,90,186) 100%);
	width: 100%;
	height: 854px;
}

#titl { 

	text-align: center;
	color: #fff;
	letter-spacing: -0.05em;
	display: inline-block;
	width: 1170px;
	opacity: 0;
	transition: opacity 2s ease-in-out 0.2s;

	p {
		font-size: 20px;
		font-weight: 300;
		margin-top: 40px;
	}


	h1 {
		margin-top: 180px;
		font-size: 66px;
		font-weight: 100;
		letter-spacing: -0.08em;
		text-align: center;
		color: #fff;
	}
}

/*main button*/

.submit{
	margin: 60px 480px;
	opacity: 0;
	transition: opacity 2s ease-in-out 0.2s;

	a:hover, a:focus { text-decoration: none !important; }
}

.ico_bg {
	background: rgba(0,0,0,0.2);
	width: 22px; height: 22px;
	border-radius: 10px;
	display: inline-block;
	margin-top: 19px;
	margin-right: 13px;
}

.button {
	background-color: rgb(184,214,0) !important;
	width:223px; height:55px;
	border-radius: 3px;
	transition: 0.4s;
	color: #fff;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	border: none !important;

	&:hover {
		background-color: rgb(214,188,0) !important; 
		text-decoration: none;
	};
}

/* head icons */

.icons {
	margin: 60px 95px;
	display: inline-block;
	width: 1170px;
	opacity: 0;
	transition: opacity 2s ease-in-out 0.2s;

	  .head_ico {
	  	float: left;
	  	padding-left: 190px;

	  	&:first-child {padding-left: 0;}

	  	  h3 {
	  	  	color: #fff;
	  	  	font-size: 14px;
	  	  	letter-spacing: 0.6em;
	  	  	text-align: center;
	  	  	padding-left: 10px;
	  	  }
	  }
}

/* flash messages styles */

.alert_js { opacity: 0 !important; }

.alert {

	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
	color: #c09853;
	background-color: #fcf8e3;
	border-radius: 2px;
	position: absolute;
	top: 66px;
	text-align: center;
	width: 500px;
	margin: 0 300px;
	z-index: 100;
	opacity: 1;
	transition: 3s;
}

#error_explanation {
	ul { 
		li {
			list-style-type: none;
			padding-bottom: 5px;
		}
	}
}

.alert-heading { color: inherit; }

.alert-success {

	color: #FFF;
	background: -webkit-linear-gradient(-90deg,rgb(194,66,172) 0%,rgb(208,85,148) 100%);
	background: -moz-linear-gradient(-90deg,rgb(194,66,172) 0%,rgb(208,85,148) 100%);
}
.alert-error {

	color: #FFF;
	background: -moz-linear-gradient(-90deg,rgb(194,66,172) 0%,rgb(208,85,148) 100%);
	background: -webkit-linear-gradient(-90deg,rgb(194,66,172) 0%,rgb(208,85,148) 100%);
}

/* pagination style */

.pagination1 {
	display: table;
	border-radius: 4px;
	bottom: 100px;
	clear: both;
	margin: 0 auto;
}

.pagination {
	margin: 20px 0 !important;
}

.pagination > li > a, .pagination > li > span {
	color: #7153B1 !important;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus{
	background-color: #E7E9F6 !important;
	border-color: #8D81C1 !important;
}

/* mesaage form */

.message {
	opacity: 0;
	transition: opacity .9s ease-in-out 0.2s ;
}

#message_screen {
	background: -moz-linear-gradient(-38deg,rgb(100,69,183) 0%,rgb(169,100,203) 100%);
	background: -webkit-linear-gradient(-38deg,rgb(100,69,183) 0%,rgb(169,100,203) 100%);
	height: 700px;
	color: #fff;

	h1 {
		font-weight: 100;
		font-size: 48px;
		text-align: center;
		padding-top: 80px;
		padding-bottom: 20px;
		letter-spacing: -0.03em;
	}

	p {
		font-size: 20px;
		font-weight: 300;
		text-align: center;
	}
}

form {	margin-top: 40px; }

.form {
	height: 40px;
	margin: 0 auto;
	display: block;
	font-size: 15px;
	color: #fff;
	border: none;
}

input#message_name { 

	padding-left: 15px;
	width: 647px;
	background: rgba(0,0,0,0.2);
	outline: 1px solid rgba(0,0,0, 0.15);
	font-family: 'Roboto';
	font-weight: 500;
}

textarea#message_text {
	max-height: 216px;
	height: 216px;
	width: 647px;
	max-width: 647px;
	padding: 15px;
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 15px;
	background: rgba(0,0,0,0.2);
	outline: 1px solid rgba(0,0,0, 0.15);
}

input[type="submit"] {
	margin: 50px auto;
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	display: block;
	color: #fff;
}


/* footer */

footer {

	width: 100%; height: 60px;
	background-color: #000;
	color: #fff;
	font-size: 14px;
	position: absolute;
	bottom: 0;

	#copyright {
		margin-top: 25px;
		text-align: center;
		width: 1170px;
	}

}