html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: 'Raleway_Regular', "Helvetica", "Arial", sans-serif;
	-webkit-font-smoothing: antialiased;
	background-color: #fff;
	margin: 0; padding: 0;
	height: 100%;
}

#page-preloader {
	position: fixed;
	left: 0; top: 0; right: 0; bottom: 0;
	background: #000;
	z-index: 100500;
}

#page-preloader .spinner {
	width: 32px; height: 32px;
	position: absolute;
	left: 50%; top: 50%;
	background: url('spinner.gif') no-repeat 50% 50%;
	margin: -16px 0 0 -16px;
}

h1, h2 { margin: 0; }

table { background-color: #fff;	border-radius: 3px; }

th,td { padding: 7px; }

a { text-decoration: none;	font-size: 16px; }

label { color: #fff; }

.wrap { margin: 0 auto; min-width:320; max-width: 1170px; }

.wrap_480 {
	margin: 0 auto;
	width: 480px;

	h1 { text-align: center; }
}

/* header menu */

.menu_in {
	background: rgba(0,0,0,0.7) !important;
	height: 37px !important;
	padding-top: 16px !important;
}

.menu {
	transition: 0.4s;
	position: fixed;
	width: 100%;
	z-index: 4;
	padding-top: 22px;

	#line {
	width: 1px; height: 20px;
	background-color: #fff;
	float: right;
	margin-right: 20px;
}

	a {
		float: right;
		color: #fff;
		padding-right: 23px;
		font-family: 'Raleway_Medium';
		font-size: 14px;
		transition: 0.9s;
		letter-spacing: -0.03em;

		&:first-child { float: left; }

		&:hover { color: #888; }
	}
}

#menu_btn {
	border-radius: 3px;
	border: 1px solid #fff;
	height: 26px;
	float: right;
	padding-top: 9px;
	text-align: center;
	padding-left: 23px;
	margin-top: -9px;
	margin-right: 20px;
	transition: .7s;

	&:hover { background:rgba(0,0,0,.3); }
}
#user_pic {
	margin-left: 26px;
	a { float: left; }
}

/* применение эффектов на главной странице */

.fade_in { opacity: 1 !important; }


/* flash messages styles */

.alert_js { opacity: 0 !important; }

.alert {
	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
	color: #c09853;
	background-color: #fcf8e3;
	border-radius: 2px;
	top: 66px;
	text-align: center;
	width: 500px;
	margin: 0 350px;
	z-index: 100;
	opacity: 1;
	transition: 5s;
	position: absolute;
}

#error_explanation {
	ul {
		li {
			list-style-type: none;
			padding-bottom: 5px;
		}
	}
}

.alert-heading { color: inherit; }

.alert-success {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #468847;
}

.alert-error {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}

/* footer */

footer {
	width: 100%; height: 60px;
	background-color: #222;
	color: #fff;
	font-size: 14px;
	position: absolute;
	bottom: 0;
}

.footer_icons {
	margin: 0 auto;
	display: table;
	padding-top: 22px;
}

.foo_ico {
	float: right;
	padding-left: 30px
}


// mobile version
@media screen and (min-width:320px) and (max-width:600px) {
	html, body {
		width: 100%;
		overflow-x: hidden;
}
	.menu, #arrow_down { display: none; }

	.head_bg h1 {
		font-size: 44px;
		padding-top:35px;
	}
	.head_bg h2 {
		padding-bottom: 40px;
		font-size: 16px;
	}
	#text_logo {
		font-size: 14px;
		padding-top: 50px;
	}
	.btn {
		width: 250px;
		margin-bottom: 30px;
		font-size: 12px;
	}
	#second_screen { opacity:1; }

	#second_screen h1, #fourth_screen h1, #six_screen h1 {
		font-size: 30px;
		padding-top: 26px;
		font-family: 'Raleway_Medium';
	}
	#second_screen h2, #fourth_screen h2, #six_screen h2 {
		font-size: 16px;
		padding: 15px 0 15px 0;
	}
	.secn_pic img{
		width: 100%;
	}
	.secn_pic {
		padding: 6px 0 6px 0;
	}
	#second_pics, .secn_pic {
		padding-top: 15px;
		width: 100%;
	}
	.line_orng { width: 30px;}

	#secn_pic { height: 15em; }
}
