#message {
	opacity: 0;
	transition: opacity .9s ease-in-out 0.2s ;
}

#message_screen {
	background: url(messages_screen_bg.jpg) no-repeat center center;
	overflow: hidden;
	color: #fff;
	transition:2s;
	background-size: cover;

	h1, h2 { letter-spacing: -.05em; text-align: center; }

	h1 {
		font-size: 70px;
		font-family: 'Raleway';
		padding-top: 70px;
	}

	h2 {
		padding-top: 30px; padding-bottom: 30px;
		font-size: 24px;
		font-family: 'Raleway';
	}
}