
// mobile version
@media screen and (min-width:320px) and (max-width:600px) {
	html, body {
		width: 100%;
		overflow-x: hidden;
}
	.menu, #arrow_down { display: none; }

	.head_bg h1 {
		font-size: 44px;
		padding-top:35px;
	}
	.head_bg h2, #threeth_screen p, #fifth_screen h2 {
		padding-bottom: 30px;
		font-size: 16px ;
		width: auto;
	}
	#text_logo {
		font-size: 14px;
		padding-top: 30px;
	}
	.btn {
		width: 250px;
		margin-bottom: 30px;
		font-size: 12px;
	}
	#second_screen { opacity:1; }

	#second_screen h1, #fourth_screen h1, #six_screen h1, #fifth_screen h1, #threeth_screen h1 {
		font-size: 30px ;
		padding-top: 26px ;
		font-family: 'Raleway_Medium';
	}
	#message_screen h1 {
			font-size: 30px !important;
			padding-top: 26px !important;
			font-family: 'Raleway_Medium'!important;
	}

	#message_screen h2 {
		font-size: 16px !important;
		padding: 15px 0 15px 0 !important;
	}
	#second_screen h2, #fourth_screen h2, #six_screen h2 {
		font-size: 16px ;
		padding: 15px 0 15px 0 ;
	}
	.secn_pic img{
		width: 100%;
	}
	.secn_pic {
		padding: 6px 0 6px 0;
	}
	#second_pics, .secn_pic {
		padding-top: 15px;
		width: 100%;
	}
	.line_orng, #threeth_screen .line_orn3 { width: 30px; }

	#secn_pic { height: 15em; }

	#makets_perspective { display: none; }

	#threeth_screen h1, #threeth_screen p, .line_orn3 {
		margin-left: 10px;
	}
	#threeth_screen p { padding: 30px 0 30px 0; }

	#columns { padding: 30px 0 30px 0; }

	.column {
		margin: 0;
		width: auto;
		padding: 0 0 25px 0;
		h1 {
			font-size: 17px !important;
			padding: 0 0 0 55px !important;
		}
		img {width: 100%;}
		p {padding: 15px 0 0 10px !important;}
	}
	.fourth_icons {
		padding: 20px 0 0 10px;
		width: 30px !important;
	}
	.article {
		float: none;
		margin: 0 auto;
	}
	.pagination {display: none;}
	.article_bg {margin: 0px 15px;}

	.icons {
		width: 100%;
		margin: auto;

		.head_ico {
			margin: 0 auto;
			padding: 20px 0 0 0;
			width: 100%;
			text-align: center;
			&:first-child { padding-left: 0px;}
		}
	}
	input#message_name, textarea#message_text {
		width: 100% !important;
		font-size: 14px !important;
	}
	input[type="submit"] {
		width: 96% !important;
		font-size: 11px !important;
    margin-bottom: 100px !important;
	}
}
