// mobile version
@media screen and (min-width:320px) and (max-width:600px) {
	html, body {
		width: 100%;
		overflow-x: hidden;
	}
	.article {
	float: none;
	margin: 0 auto;

	h1 { font-size: 42px; }
	}
	.image_prev {
		width: 94%;
	}
}
