#admin_panel {
	font-family: "Helvetica";
	font-size: 15px;

	h1, h2 {
		padding-bottom: 20px;
		font-size: 28px;
		font-weight: 500;
	}
	a {
		float: right;
		padding-right: 30px;
	}
	.bold { font-weight: 700; }
}
