/* применение классов для эффектов на главной странице */
.titl_fade_in, .pic_anim, .iphones_in, .column_in, .ios_apps_in, .web_apps_in, .makets_in, .article_in, .message_in { opacity: 1 !important; }

/* первый экран */

#header_bg {
	background: url(header_bg.jpg);
	width: 100%;

	#header_bg_overlay {
		width: 100%;
		height: 778px;
		background: rgba(0,0,0,0.7);
	}
}

#titl { 

	text-align: center;
	color: #fff;
	letter-spacing: -0.05em;
	position: absolute;
	width: 1170px;
	opacity: 0;
	transition: opacity 2s ease-in-out 0.2s;

	p {
		font-size: 22px;
		font-weight: 300;
		margin-top: 40px;
	}


	h1 {
		margin-top: 150px;
		font-size: 80px;
		font-weight: 100;
		letter-spacing: -0.08em;
		text-align: center;
		color: #fff;
	}
}

#pic_a { float: left; }

#window {
	width: 1000px;
	margin: 380px 85px;
	box-shadow: 0px 2px 167px 5px rgba(0,0,0,0.75);
	transition: opacity 2s ease-in-out 0.2s;
	opacity: 0;
}


/* второй экран */

#second_screen {
	background-color: #1A1B1F;
	width: 100%; height: 488px;
}

/* текстовые блоки */

.column:first-child, .column:nth-child(4) { padding-left: 0px; }

#columns {	opacity: 0;	transition: opacity .5s ease-in-out 0.2s; }

.column {

	width: 360px;
	padding-top: 80px;
	float: left;
	position: relative;
	padding-left: 45px;

	h1 {
		color: #fff;
		text-transform: uppercase;
		font-size: 18px;
		letter-spacing: 0.2em;
		font-weight: 600;
		margin: 0px 50px;
	}

	p {
		font-size: 14px;
		font-weight: 300;
		line-height: 1.7;
		padding-top: 15px;
		margin-left: 50px;
		color: #fff;
	}
}

.icon { 

	position: absolute;

}

/* третий экран  */

#third_screen {

	background-color: #141518;
	width: 100%; height: 854px;
}

#ios_apps, #web_apps {

	color: #fff;
    margin: -510px 587px;
	width: 600px;
	transition: opacity 1s ease-in-out 0.2s;
	opacity: 0;

	h1 {
		padding-left: 150px;
		letter-spacing: -0.03em;
		font-weight: 300;
		font-size: 32px;
		padding-top: 35px;
		color: #fff;
	}

	ul {
		margin-top: 90px;
		font-size: 17px;

		li { padding-bottom: 33px; font-weight: 300; }
	}

	a { color: #fff; text-decoration: none; }

}

#iphones {

	margin-top: 85px;
	opacity: 0;
	transition: opacity .9s ease-in-out 0.2s;
}

.butn {

	padding: 11px 40px;
	border: 1px solid #fff;
	max-width: 250px;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;

}

/* 4-ый экран */

#fourth_screen {

	background-color: #1A1B1F;
	width: 100%; height: 854px;
}

#makets { margin-top: 150px; opacity: 0; transition: opacity 2s ease-in-out 0.2s; }

#web_apps {

	color: #fff;
	margin: 256px 10px;
	width: 600px;
	transition: opacity 1s ease-in-out 0.2s;
	opacity: 0;
	float: left;
	height: 342px;

	h1 {
		padding-left: 150px;
		letter-spacing: -0.03em;
		font-weight: 300;
		font-size: 32px;
		padding-top: 18px;
	}

	ul {
		margin-top: 90px;
		font-size: 17px;

		li { padding-bottom: 33px; font-weight: 300; }
	}

	a { color: #fff; }

}

/* 5-ый экран */

.message {
	opacity: 0;
	transition: opacity .9s ease-in-out 0.2s ;
}

#fifth_screen {
	margin-top: -32px;

	h1 {
		color: #fff;
		font-weight: 100;
		font-size: 48px;
		text-align: center;
		padding-top: 80px;
		padding-bottom: 20px;
		letter-spacing: -0.03em;
	}
}

#fifth_bg {

	background: url(header_bg.jpg);
}
#fifth_bg_overlay{

	background-color: #000;
	opacity: 0.85;
	height: 634px;
}
.form {

	height: 40px;
	margin: 0 auto;
	display: block;
	font-size: 15px;
	color: #444;
	border: none;
}

input#message_name { 

	padding-left: 15px;
	width: 647px;
		
}

textarea#message_text {
	max-height: 216px;
	height: 216px;
	width: 647px;
	max-width: 647px;
	padding: 15px;
	font-family: 'Raleway';
	font-weight: 500;
	font-size: 15px;
}

input[type="submit"] {
	margin: 50px auto;
	padding: 11px 40px;
	border: 1px solid #fff;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	display: block;
	color: #fff;
	background-color: #000;

}